/* ====Navbar====== */
nav {
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  ul,
  li,
  a {
    display: inline;
    text-decoration: none;
    list-style: none;
    outline: none;
    color: ghostwhite;
  }
  li {
    margin: 0 20px;
  }
  ul {
    position: absolute;
    right: 20px;
  }
}
